.company {
  background: url("../../public/images/bg-about.png") top right no-repeat #000;
  background-size: 100% 100%;
  padding: 120px 0;

  .row  {
    position: relative;

    &:before {
      content: "";
      width: 2px;
      height: 100%;
      background: rgba(71, 71, 71, 0.4);
      position: absolute;
      left: 0;
      top: 2px;
    }
  }

  .image-inkraft-l, .image-inkraft-r {
    display: none;
  }

  .holder {
    padding-top: 29px;
    padding-bottom: 52px;
  }

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 62px;
    max-width: 915px;
    margin-right: auto;
    margin-left: auto;

    span {
      font-style: italic;
      text-transform: uppercase;
      color: #C18E57;
    }
  }


  p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    text-indent: 24px;
    margin-bottom: 0;
    //padding-left: 26px;

    span {
      color: #C18E57;
    }
  }

  .first-text {
    position: relative;

    &:before {
      content: "";
      height: 2px;
      width: 20%;
      background: rgba(71, 71, 71, 0.4);
      position: absolute;
      left: -15px;
      top: -29px;
    }
  }

  .button, .button-mob {
    margin-top: 60px;
    display: inline-block;
    .btn {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      padding: 30px 96px;
      outline: none !important;
      box-shadow: none!important;
      border: 1px solid #BCBCBC;

      &:hover {
        background: #000;
      }
    }
  }

  .popup-youtube {
    text-decoration: none;
  }

  .image-video {
    margin-top: 60px;
    position: relative;

    .play {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid #7d7d7d;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #650f14;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.432) 52.08%, rgba(0, 0, 0, 0.8) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  //media

  @media (max-width: 1570px) {
    .container {
      max-width: 1200px;
    }

    h4 {
      font-size: 30px;
      line-height: 36px;
    }

    p {
      font-size: 16px;
      line-height: 26px;
    }

    .button {
      .btn {
        font-size: 18px;
        line-height: 18px;
        padding: 20px 30px;
      }
    }
  }

  @media (max-width: 991px) {
    background: #000;
    position: relative;
    padding: 40px 0;

    .image-inkraft-l {
      display: inline-block;
      position: absolute;
      top: 34%;
      right: 0;
    }

    .row  {
      &:before {
        left: 15px;
      }
    }

    .first-text {
      &:before {
        left: 0;
      }
    }

    .holder {
      padding-bottom: 0;
    }

    .image-video {
      margin: 30px 34px 25px 34px;
    }

    h4 {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 27px;
    }

    p {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 0;
      max-width: 722px;
      padding-left: 34px;
    }

    .button {
      display: none;
    }

    .button-mob {
      text-align: center;
      display: block !important;
      margin-top: 0;
      .btn {
        font-size: 24px;
        line-height: 29px;
        padding: 30px 98px;
      }
    }
  }

  @media (max-width: 767px) {

    .image-inkraft-l {
      display: inline-block;
      position: absolute;
      top: 34%;
      right: 0;
    }

    .image-inkraft-r {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }

    .holder {
      padding-top: 0;
    }

    .row  {
      &:before {
        display: none;
      }
    }

    .first-text {
      &:before {
        display: none;
      }
    }

    .image-video .play {
      width: 58px;
      height: 58px;
    }

    .icon-next:before {
      font-size: 30px;
    }

    .image-video {
      margin: 15px 34px 25px 34px;
    }

    h4 {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 41px;
    }

    p {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 0;
      max-width: 400px;
      padding-left: 34px;
    }

    .button {
      display: none;
    }

    .button-mob {
      text-align: center;
      display: block !important;
      margin-top: 0;
      .btn {
        font-size: 18px;
        line-height: 22px;
        padding: 14px 36px;
      }
    }
  }

  @media (max-width: 475px) {

    .image-inkraft-l {
      top: 42%;
      max-width: 30px;
    }

    .image-inkraft-r {
      max-width: 30px;
    }

    .image-video .play {
      width: 40px;
      height: 40px;
    }

    .icon-next:before {
      font-size: 22px;
    }

    .image-video {
      margin: 15px 0 25px 0;
    }

    h4 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 41px;
    }

    p {
      font-size: 14px;
      line-height: 159.4%;
      margin-bottom: 0;
      max-width: 400px;
      padding-left: 0;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    .button {
      display: none;
    }

    .button-mob {
      text-align: center;
      display: block !important;
      margin-top: 0;
      .btn {
        font-size: 13px;
        line-height: 17px;
        padding: 14px 0;
        width: 100%;
      }
    }
  }
}