.footer {
  background: #000;
  position: relative;
  padding-bottom: 199px;

  h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 159.4%;
    color: #BCBCBC;
    margin-bottom: 117px;
    text-align: center;
  }

  p, a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 0;
  }

  .map {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.16) 31.25%, rgba(0, 0, 0, 0.17) 73.96%, rgba(0, 0, 0, 0.7) 100%);
  }

  //media

  @media (max-width: 1570px) {
    padding-bottom: 27px;

    .container {
      max-width: 1200px;
    }

    p, a {
      font-size: 18px;
      line-height: 200.69%;
      max-width: 379px;
      br {
        display: none;
      }
    }

    h4 {
      font-size: 36px;
      line-height: 159.4%;
      margin-bottom: 67px;
    }

    iframe {
      height: 311px !important;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 59px;

    h4 {
      margin-bottom: 35px;
    }

    iframe {
      margin-top: 40px;
      height: 311px !important;
    }
  }

  @media (max-width: 480px) {
    padding-bottom: 21px;

    h4 {
      font-size: 18px;
      line-height: 159.4%;
      margin-bottom: 16px;
    }

    p, a {
      font-size: 14px;
      line-height: 200.69%;
    }

    iframe {
      margin-top: 24px;
      height: 195px !important;
    }
  }
}